/*
  Josh's Custom CSS Reset, slightly modified
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	overflow-wrap: break-word;
	letter-spacing: -0.02em;
}

a {
	text-decoration: none;
}
