---

---

<footer>
    <nav class="container">
        <section>
            <h3>Contribute</h3>
            <ul>
                <li><a href="/vote">Upvote on top.gg</a></li>
                <li><a href="/suggest">Suggest a feature</a></li>
                <li><a href="/suggest">Report a bug</a></li>
                <li><a href="/sponsor">Sponsor</a></li>
            </ul>
        </section>
        <section>
            <h3>Links</h3>
            <ul>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/invite">Invite Needle</a></li>
                <li><a href="/support">Discord server</a></li>
                <li><a href="/github">GitHub (bot)</a></li>
                <li><a href="/github-web">GitHub (website)</a></li>
            </ul>
        </section>
        <section>
            <h3>Legal</h3>
            <ul>
                <li><a href="/privacy">Privacy policy</a></li>
                <li><a href="/license">License</a></li>
            </ul>
        </section>
    </nav>
</footer>

<style>
    footer {
	background-color: hsl(213, 15%, 8%);
	padding-block: 6rem;
	text-align: left;
	font-size: 1.15rem;
}

footer nav {
	display: flex;
	justify-content: space-around;
}

footer h3 {
	margin-bottom: 16px;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer a {
	color: #bbb;
	padding-bottom: 0.5em;
	display: inline-block;
}

footer a:hover {
	color: #fff;
}
@media screen and (max-width: 600px) {
	footer nav {
		flex-direction: column;
		align-items: stretch;
	}

	footer nav section {
		margin-bottom: 2rem;
		text-align: center;
	}
}

</style>