---
---

<footer>
	<nav class="container">
		<section>
			<h3>Contribute</h3>
			<ul>
				<li><a href="/vote" data-analytics='"Footer"'>Upvote on top.gg</a></li>
				<li><a href="/suggest" data-analytics='"Footer"'>Suggest a feature</a></li>
				<li><a href="/suggest" data-analytics='"Footer"'>Report a bug</a></li>
				<li><a href="/sponsor" data-analytics='"Footer"'>Sponsor</a></li>
			</ul>
		</section>
		<section>
			<h3>Links</h3>
			<ul>
				<li><a href="/faq" data-analytics='"Footer"'>FAQ</a></li>
				<li><a href="/invite" data-analytics='"Footer"'>Invite Needle</a></li>
				<li><a href="/support" data-analytics='"Footer"'>Discord server</a></li>
				<li><a href="/github" data-analytics='"Footer"'>GitHub (bot)</a></li>
				<li><a href="/github-web" data-analytics='"Footer"'>GitHub (website)</a></li>
			</ul>
		</section>
		<section>
			<h3>Legal</h3>
			<ul>
				<li><a href="/privacy" data-analytics='"Footer"'>Privacy policy</a></li>
				<li><a href="/license" data-analytics='"Footer"'>License</a></li>
			</ul>
		</section>
	</nav>
</footer>

<style>
	footer {
		background-color: hsl(213, 15%, 8%);
		padding-block: 6rem;
		text-align: left;
		font-size: 1.15rem;
	}

	nav {
		display: flex;
		justify-content: space-around;
	}

	h3 {
		margin-bottom: 16px;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	a {
		color: #bbb;
		padding-bottom: 0.5em;
		display: inline-block;
	}

	a:hover {
		color: #fff;
	}

	@media screen and (max-width: 600px) {
		nav {
			flex-direction: column;
			align-items: stretch;
		}

		section {
			margin-bottom: 2rem;
			text-align: center;
		}
	}
</style>
