---

---

<section class="container">
    <h1>Declutter your Discord server</h1>
    <p><span class="branding-color">Needle</span> is a bot that creates Discord threads <strong>automatically</strong>.</p>
    <ul class="about">
        <li>100% free</li>
        <li>24/7 uptime</li>
        <li>2.5M+ users</li>
        <li>open source</li>
        <li>customizable</li>
        <li>active support server</li>
    </ul>
    <div class="buttons">
        <a class="btn" href="#features" data-analytics='"Learn more"'>
            <span>Learn more</span>
            <img src="img/information-outline.svg" alt="" role="presentation" />
        </a>
        <a class="btn cta" href="/invite" data-analytics='"Invite"'>
            <span>Add to server</span>
            <img src="img/add-outline.svg" alt="" role="presentation" />
        </a>
    </div>
    <a class="top-sponsor" rel="noreferrer" href="https://astro.build" data-analytics='"Astro"' target="_blank">Sponsored by Astro</a>
</section>

<style>
    .buttons {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }
    
    .top-sponsor {
        color: hsl(300, 32%, 75%);
        display: inline-block;
        margin-top: 1em;
        padding: 0.25em 0.5em;
        padding-right: 2.25em;
        position: relative;
        border-radius: 0.5em;
        font-weight: 600;
        text-transform: lowercase;
        letter-spacing: 0.02em;
    }

    .top-sponsor:hover,
    .top-sponsor:focus {
        color: #eee;
    }

    .top-sponsor:before {
        content: "";
        width: 1em;
        height: 1em;
        top: 0.64em;
        right: 0.64em;
        position: absolute;
        background: url(img/heart.svg);
    }
    
    .cta {
        color: #222;
        font-weight: 600;
        background: #f1ffd4;
    }

    .cta:hover,
    .cta:focus {
	    background: linear-gradient(160deg, #f1ffd4 25%, #7be4b3);
    }

    strong {
        font-weight: 600;
        color: #eee;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    h1 + p {
        margin: 2rem 0 2rem 0;
        line-height: 1.35;
        font-size: 1.5rem;
        font-weight: 300;
    }    
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        width: fit-content;
        list-style-type: none;
        margin: auto;
    }

    li {
        position: relative;
        padding-left: 1.75em;
        margin: 0.25rem 1rem;
    }

    li:before {
        content: "";
        width: 1.2em;
        height: 1.2em;
        top: 0.26em;
        left: 0;
        position: absolute;
        background: url(img/check.svg);
    }

    @media screen and (max-width: 1024px) {
        .about {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
